@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
/*動態 */
/*RWD */
/*色彩*/
/*動態*/
/*RWD*/
/*font-family*/
/*宋體*/
/*三角型*/
/* line 19, ../sass/_all.scss */
.triangle-right, .product-list-news .product-link .col-sm-6 a .text .triangle::after, .col.col_02 .product-link .col-sm-6 a .text .triangle::after, .right-button::before, .product-list .module-cglist.module-meccglist h3::before, .product-list .module-rcglist h3::before, .news-module .module-cglist.module-meccglist h3::before, .news-module .module-rcglist h3::before {
  content: '';
  border-width: 0.5em;
  border-style: solid solid solid solid;
  border-color: transparent transparent transparent #fff;
  display: inline-block;
}

/*圓形*/
/* line 27, ../sass/_all.scss */
.circle {
  content: '';
  width: 0.2em;
  height: 0.2em;
  border-radius: 50%;
  margin: 0 0.2em;
  background: #0e357f;
}

/* line 36, ../sass/_all.scss */
* {
  font-size: 14px;
  font-family: "Noto Sans TC","Microsoft JhengHei","Arial",sans-serif;
  font-weight: normal;
}

/* line 41, ../sass/_all.scss */
a {
  text-decoration: none !important;
}

@media screen and (min-width: 768px) {
  /*三層選單設定*/
  /* line 46, ../sass/_all.scss */
  .dropdown-submenu {
    position: relative;
  }

  /* line 47, ../sass/_all.scss */
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
  }

  /* line 48, ../sass/_all.scss */
  .dropdown-submenu > a:after {
    content: '';
    border-width: 0.4em;
    border-style: solid solid solid solid;
    border-color: transparent transparent transparent #fff;
    display: inline-block;
    float: right;
    margin-top: 6px;
    margin-left: 0px;
    width: 0;
    height: 0;
  }

  /* line 60, ../sass/_all.scss */
  .dropdown-submenu.pull-left {
    float: none;
  }

  /* line 60, ../sass/_all.scss */
  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }

  /* line 61, ../sass/_all.scss */
  .dropdown-submenu:hover > a:after {
    border-left-color: #555;
  }

  /* line 62, ../sass/_all.scss */
  .dropdown-menu > li:hover .sub-menu {
    visibility: visible;
  }

  /* line 63, ../sass/_all.scss */
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}
/*end*/
@keyframes bomtt {
  from {
    transform: rotate(-30deg);
    transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
  }
  50% {
    transform: rotate(30deg);
    transition: 0.3s 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
  }
  to {
    transform: rotate(0deg);
    transition: transform 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
  }
}
/* line 1, ../sass/_reset.scss */
.row_5.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_5.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_4.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_4.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_3.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_3.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_2.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_2.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_0.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_0.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_0.col1 .col_02 > .mcol > div + div, .footer > .minner, .header > .minner, .row_5.col3 > .mrow, .row_5.col2 > .mrow, .row_4.col3 > .mrow, .row_4.col2 > .mrow, .row_3.col3 > .mrow, .row_3.col2 > .mrow, .row_2.col3 > .mrow, .row_2.col2 > .mrow, .row_1 > .mrow {
  max-width: 100%;
}

/*手機板padding*/
@media screen and (max-width: 767px) {
  /* line 6, ../sass/_reset.scss */
  .minner.minner {
    padding: 0;
  }
}
/*首頁*/
/* line 14, ../sass/_reset.scss */
.page_mobilehome .module-cgmenu {
  display: none;
}

/* line 19, ../sass/_reset.scss */
ul.navbar-nav {
  margin-top: 0;
}

/* line 22, ../sass/_reset.scss */
.header {
  box-shadow: none;
}

/* line 25, ../sass/_reset.scss */
.footer {
  padding: 0;
}

/* line 28, ../sass/_reset.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: transparent;
  border-color: transparent;
}

/* line 33, ../sass/_reset.scss */
.go-pcurl, .module-minicart {
  display: none;
}

/*page-clean*/
/* line 39, ../sass/_reset.scss */
.module-detail .mpgdetail {
  padding: 0;
}

/* line 44, ../sass/_reset.scss */
.navbar-nav .open > a, .navbar-nav .open > a:hover, .navbar-nav .open > a:focus, .navbar-nav > li > a:hover {
  border-color: transparent;
}

/* line 48, ../sass/_reset.scss */
.menu-wrapper-area, #wrap #main-nav, #wrap footer {
  display: none;
}

/* line 51, ../sass/_reset.scss */
.addauto {
  padding: 0;
  margin-bottom: 0;
}

/* line 55, ../sass/_reset.scss */
[class^="col-md-12"][class^="col-md-12"], [class^="col-"][class^="col-"] {
  padding: 0;
  margin: 0;
}

/* line 59, ../sass/_reset.scss */
.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  /* line 63, ../sass/_reset.scss */
  #wrap {
    padding-top: 0;
  }
}
/* line 67, ../sass/_reset.scss */
.module {
  margin-bottom: 0;
}

/* line 70, ../sass/_reset.scss */
.langbar {
  display: none;
}

/* line 3, ../sass/_index.scss */
.navbar {
  padding: 1em 0 1em;
}
/* line 6, ../sass/_index.scss */
.navbar .navbar-brand.navbar-brand {
  padding: 0;
  display: block;
  width: auto;
  height: auto;
  margin-left: 0;
}
/* line 12, ../sass/_index.scss */
.navbar .navbar-brand.navbar-brand img {
  height: 62px;
  width: auto;
}
/* line 18, ../sass/_index.scss */
.navbar .lang {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 22, ../sass/_index.scss */
.navbar .lang a {
  font-size: 14px;
  color: #666;
  padding: 0 0.5em;
}
/* line 27, ../sass/_index.scss */
.navbar .lang li {
  padding: 0.5em 0em 0;
}
/* line 31, ../sass/_index.scss */
.navbar .lang li a {
  border-right: 1.5px solid #666;
}
/* line 35, ../sass/_index.scss */
.navbar .lang li:last-child a {
  border-right: 0;
}
@media screen and (max-width: 767px) {
  /* line 18, ../sass/_index.scss */
  .navbar .lang {
    position: static;
  }
}
/* line 45, ../sass/_index.scss */
.navbar .nav.navbar-nav {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 50, ../sass/_index.scss */
.navbar .nav.navbar-nav > li {
  margin: 0 1em;
}
/* line 53, ../sass/_index.scss */
.navbar .nav.navbar-nav > li > a > span {
  color: #333;
  text-align: center;
  display: block;
  font-weight: 300;
  font-size: 16px;
}
/* line 59, ../sass/_index.scss */
.navbar .nav.navbar-nav > li > a > span:last-child {
  display: block;
  font-size: 10px;
}
/* line 64, ../sass/_index.scss */
.navbar .nav.navbar-nav > li > a::before {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #0e357f;
  margin: 0 auto 0.5em;
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
}
@media screen and (max-width: 767px) {
  /* line 64, ../sass/_index.scss */
  .navbar .nav.navbar-nav > li > a::before {
    display: none;
  }
}
/* line 77, ../sass/_index.scss */
.navbar .nav.navbar-nav > li .social {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
}
/* line 82, ../sass/_index.scss */
.navbar .nav.navbar-nav > li .social a {
  position: relative;
  width: 40%;
  height: 100%;
  margin: 0 0.3em;
}
/* line 87, ../sass/_index.scss */
.navbar .nav.navbar-nav > li .social a img {
  display: block;
  margin: 0 auto;
  position: relative;
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
  top: 0;
  animation-duration: 1s;
  animation-fill-mode: both;
}
/* line 96, ../sass/_index.scss */
.navbar .nav.navbar-nav > li .social a::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  background: url("/ezfiles/381/1381/img/2853/head-icon-shadow.png") center center no-repeat;
  width: 100%;
  height: 8px;
}
/* line 106, ../sass/_index.scss */
.navbar .nav.navbar-nav > li .social a:hover img {
  animation-name: bomtt;
  animation-duration: 1s;
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
  animation-fill-mode: both;
  top: -.5em;
}
/* line 118, ../sass/_index.scss */
.navbar .nav.navbar-nav > li:hover a::before {
  content: '';
  width: 40px;
  height: 2px;
  background: #color-2;
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
}
/* line 127, ../sass/_index.scss */
.navbar .nav.navbar-nav > li ul {
  background: #c2d6ee;
  box-shadow: 3px 3px 5px -3px #0e357f;
  border: none;
}
/* line 132, ../sass/_index.scss */
.navbar .nav.navbar-nav > li ul li a {
  transition: 0.3s ease;
  color: #0e357f;
}
/* line 135, ../sass/_index.scss */
.navbar .nav.navbar-nav > li ul li a:hover {
  color: #fff;
  background-color: transparent;
}
@media screen and (max-width: 767px) {
  /* line 45, ../sass/_index.scss */
  .navbar .nav.navbar-nav {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  /* line 147, ../sass/_index.scss */
  .navbar .navbar-toggle {
    position: relative;
    float: right;
    z-index: 99999;
    border: none;
  }
  /* line 155, ../sass/_index.scss */
  .navbar .navbar-toggle.collapsed .sr-only::before, .navbar .navbar-toggle.collapsed .sr-only::after {
    background: #0e357f;
    transition: 0.3s ease;
    transform: rotate(0deg);
  }
  /* line 161, ../sass/_index.scss */
  .navbar .navbar-toggle.collapsed .sr-only::before {
    top: 10px;
    transition: top 1s 0.3s ease;
  }
  /* line 165, ../sass/_index.scss */
  .navbar .navbar-toggle.collapsed .sr-only::after {
    transition: transform 0.3s ease;
  }
  /* line 168, ../sass/_index.scss */
  .navbar .navbar-toggle.collapsed .sr-only .icon-bar {
    display: none;
  }
  /* line 174, ../sass/_index.scss */
  .navbar .navbar-toggle .sr-only::before, .navbar .navbar-toggle .sr-only::after {
    background: #666;
    transition: transform 1s 0.3s ease;
  }
  /* line 179, ../sass/_index.scss */
  .navbar .navbar-toggle .sr-only::before {
    transform: rotate(45deg);
    top: 20px;
    transition: top 0.3s ease, transform 1s 0.3s ease;
  }
  /* line 184, ../sass/_index.scss */
  .navbar .navbar-toggle .sr-only::after {
    transform: rotate(-45deg);
    transition: transform 1s 0.3s ease;
  }
  /* line 188, ../sass/_index.scss */
  .navbar .navbar-toggle .sr-only .icon-bar {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 195, ../sass/_index.scss */
  .navbar .container {
    padding: 0;
    width: 100%;
  }
  /* line 200, ../sass/_index.scss */
  .navbar .nav.navbar-nav > li {
    margin: 0;
    font-size: 0.8em;
    margin: 0 0.1em;
  }
  /* line 204, ../sass/_index.scss */
  .navbar .nav.navbar-nav > li a {
    padding: 0;
  }
  /* line 207, ../sass/_index.scss */
  .navbar .nav.navbar-nav > li ul > li {
    margin: 0.5em 0;
    padding: 0 0.5em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 216, ../sass/_index.scss */
  .navbar .nav.navbar-nav > li {
    margin: 0;
    font-size: 0.8em;
    margin: 0 1em;
  }
  /* line 220, ../sass/_index.scss */
  .navbar .nav.navbar-nav > li a {
    padding: 0;
  }
  /* line 223, ../sass/_index.scss */
  .navbar .nav.navbar-nav > li ul > li {
    margin: 0.5em 0;
    padding: 0 0.5em;
  }
}
@media screen and (max-width: 767px) {
  /* line 3, ../sass/_index.scss */
  .navbar {
    padding: 0;
  }
  /* line 233, ../sass/_index.scss */
  .navbar .lang ul {
    margin-left: 0;
    display: flex;
    flex: 2;
  }
  /* line 238, ../sass/_index.scss */
  .navbar .lang li {
    padding: 0;
    width: 50%;
  }
  /* line 241, ../sass/_index.scss */
  .navbar .lang li a {
    padding: 0;
    text-align: center;
    background: #0e357f;
    display: block;
    color: #fff;
  }
  /* line 250, ../sass/_index.scss */
  .navbar .container {
    padding: 1em;
    margin-top: -1em;
  }
  /* line 254, ../sass/_index.scss */
  .navbar .nav.navbar-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  /* line 258, ../sass/_index.scss */
  .navbar .nav.navbar-nav li {
    width: 100%;
    margin: 1em 0;
  }
  /* line 261, ../sass/_index.scss */
  .navbar .nav.navbar-nav li a {
    padding: 0;
    text-align: center;
  }
  /* line 266, ../sass/_index.scss */
  .navbar .nav.navbar-nav .open {
    color: #0e357f;
  }
  /* line 268, ../sass/_index.scss */
  .navbar .nav.navbar-nav .open span {
    color: #0e357f;
  }
  /* line 271, ../sass/_index.scss */
  .navbar .nav.navbar-nav .open a {
    color: #0e357f;
  }
}

/*輪播圖*/
/* line 282, ../sass/_index.scss */
.mads-li {
  position: relative;
}
/* line 284, ../sass/_index.scss */
.mads-li::before {
  content: '';
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: url("/ezfiles/381/1381/img/2853/banner-logo.png") center center no-repeat;
  position: absolute;
  top: 0;
  z-index: 9;
}
@media screen and (max-width: 767px) {
  /* line 284, ../sass/_index.scss */
  .mads-li::before {
    background-size: 200%;
  }
}

/* line 301, ../sass/_index.scss */
.owl-controls {
  position: absolute;
  width: 100%;
  bottom: -2.5em;
}

/* line 307, ../sass/_index.scss */
.owl-dot.owl-dot.owl-dot {
  margin: 0 0.2em;
}
/* line 309, ../sass/_index.scss */
.owl-dot.owl-dot.owl-dot span {
  background: #fff;
  opacity: 1;
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
}
/* line 315, ../sass/_index.scss */
.owl-dot.owl-dot.owl-dot.active span {
  background: #0e357f;
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
}

/* line 323, ../sass/_index.scss */
.product-list-news, .col.col_02 {
  margin-top: -1em;
  background: url("/ezfiles/381/1381/img/2853/section-bg.png") center center no-repeat;
  background-size: cover;
  padding-top: 8em;
  padding-bottom: 6em;
  /*最新消息*/
}
/* line 330, ../sass/_index.scss */
.product-list-news .product-link .col-sm-6, .col.col_02 .product-link .col-sm-6 {
  padding: 0 1em;
}
/* line 332, ../sass/_index.scss */
.product-list-news .product-link .col-sm-6 a, .col.col_02 .product-link .col-sm-6 a {
  display: block;
  border: 1px solid #ccc;
}
/* line 335, ../sass/_index.scss */
.product-list-news .product-link .col-sm-6 a .text, .col.col_02 .product-link .col-sm-6 a .text {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
/* line 341, ../sass/_index.scss */
.product-list-news .product-link .col-sm-6 a .text img, .col.col_02 .product-link .col-sm-6 a .text img {
  width: 100%;
  height: auto;
  transition: 6s ease;
}
/* line 346, ../sass/_index.scss */
.product-list-news .product-link .col-sm-6 a .text span, .col.col_02 .product-link .col-sm-6 a .text span {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 300;
  color: #0e357f;
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
  transform: scale(0);
}
@media screen and (max-width: 767px) {
  /* line 346, ../sass/_index.scss */
  .product-list-news .product-link .col-sm-6 a .text span, .col.col_02 .product-link .col-sm-6 a .text span {
    transform: scale(1);
  }
}
/* line 363, ../sass/_index.scss */
.product-list-news .product-link .col-sm-6 a .text .triangle, .col.col_02 .product-link .col-sm-6 a .text .triangle {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 30px;
  margin: 0 auto;
}
/* line 370, ../sass/_index.scss */
.product-list-news .product-link .col-sm-6 a .text .triangle::after, .col.col_02 .product-link .col-sm-6 a .text .triangle::after {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 20px;
  height: 15px;
  border-width: 0 10px 30px 10px;
  border-color: transparent transparent #eeefef transparent;
}
@media screen and (max-width: 767px) {
  /* line 370, ../sass/_index.scss */
  .product-list-news .product-link .col-sm-6 a .text .triangle::after, .col.col_02 .product-link .col-sm-6 a .text .triangle::after {
    display: none;
  }
}
/* line 385, ../sass/_index.scss */
.product-list-news .product-link .col-sm-6 a .text::before, .col.col_02 .product-link .col-sm-6 a .text::before {
  content: '';
  display: flex;
  width: 100%;
  height: 0%;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.3);
  transition: 0.6s 0.3s ease;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  /* line 385, ../sass/_index.scss */
  .product-list-news .product-link .col-sm-6 a .text::before, .col.col_02 .product-link .col-sm-6 a .text::before {
    height: 100%;
  }
}
/* line 402, ../sass/_index.scss */
.product-list-news .product-link .col-sm-6 a:hover .text span, .col.col_02 .product-link .col-sm-6 a:hover .text span {
  transform: scale(1);
  transition: 0.6s 0.3s ease;
}
/* line 406, ../sass/_index.scss */
.product-list-news .product-link .col-sm-6 a:hover .text::before, .col.col_02 .product-link .col-sm-6 a:hover .text::before {
  height: 100%;
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
}
/* line 411, ../sass/_index.scss */
.product-list-news .product-link .col-sm-6 a:hover img, .col.col_02 .product-link .col-sm-6 a:hover img {
  transform: scale(1.1);
  transition: 6s ease;
}
/* line 417, ../sass/_index.scss */
.product-list-news .product-link .col-sm-6 p, .col.col_02 .product-link .col-sm-6 p {
  padding: 1em 0;
  font-size: 1em;
  font-weight: normal;
  position: relative;
}
/* line 425, ../sass/_index.scss */
.product-list-news .product-link .col-sm-6:last-child .triangle.triangle::after, .col.col_02 .product-link .col-sm-6:last-child .triangle.triangle::after {
  border-color: transparent transparent #e9e9e9 transparent;
}
/* line 433, ../sass/_index.scss */
.product-list-news .newslist, .col.col_02 .newslist {
  padding: 0 1em;
  margin-top: 3em;
}
/* line 436, ../sass/_index.scss */
.product-list-news .newslist h1.title, .col.col_02 .newslist h1.title, .product-list-news .newslist .pagebanner h4, .pagebanner .product-list-news .newslist h4, .col.col_02 .newslist .pagebanner h4, .pagebanner .col.col_02 .newslist h4 {
  color: #0e357f;
}
/* line 438, ../sass/_index.scss */
.product-list-news .newslist h1.title span, .col.col_02 .newslist h1.title span, .product-list-news .newslist .pagebanner h4 span, .pagebanner .product-list-news .newslist h4 span, .col.col_02 .newslist .pagebanner h4 span, .pagebanner .col.col_02 .newslist h4 span {
  color: #666;
}
/* line 442, ../sass/_index.scss */
.product-list-news .newslist .module, .col.col_02 .newslist .module {
  border: 1px solid #ccc;
  padding: 2em 4em;
  background: #fff;
}
/* line 446, ../sass/_index.scss */
.product-list-news .newslist .module .mdate, .col.col_02 .newslist .module .mdate {
  font-size: 1.1em;
  letter-spacing: 0.1em;
  color: #81b4af;
  display: block;
}
/* line 452, ../sass/_index.scss */
.product-list-news .newslist .module a, .col.col_02 .newslist .module a {
  color: #0e357f;
  font-size: 1.2em;
  margin: 0.5em 0 0;
  display: flex;
  align-items: center;
}
/* line 458, ../sass/_index.scss */
.product-list-news .newslist .module a::before, .col.col_02 .newslist .module a::before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #333;
  margin-right: 0.5em;
}
/* line 467, ../sass/_index.scss */
.product-list-news .newslist .module .mdetail, .col.col_02 .newslist .module .mdetail {
  color: #555;
  padding-left: 1em;
}
/* line 471, ../sass/_index.scss */
.product-list-news .newslist .module .d-txt, .col.col_02 .newslist .module .d-txt {
  margin: 1em 0;
}
@media screen and (max-width: 767px) {
  /* line 323, ../sass/_index.scss */
  .product-list-news, .col.col_02 {
    padding-top: 4em;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 4em;
  }
  /* line 481, ../sass/_index.scss */
  .product-list-news .container, .col.col_02 .container {
    padding: 0;
  }
  /* line 484, ../sass/_index.scss */
  .product-list-news .col-sm-6, .col.col_02 .col-sm-6 {
    margin: 1em 0;
  }
  /* line 486, ../sass/_index.scss */
  .product-list-news .col-sm-6 .text.text.text span, .col.col_02 .col-sm-6 .text.text.text span {
    font-size: 1.5em;
  }
  /* line 490, ../sass/_index.scss */
  .product-list-news .newslist, .col.col_02 .newslist {
    margin-top: 0;
  }
  /* line 492, ../sass/_index.scss */
  .product-list-news .newslist .module, .col.col_02 .newslist .module {
    padding: 1em;
  }
  /* line 494, ../sass/_index.scss */
  .product-list-news .newslist .module a, .col.col_02 .newslist .module a {
    line-height: 1.5em;
  }
}

/*footer*/
/* line 505, ../sass/_index.scss */
.footer {
  background: #fff;
}
/* line 507, ../sass/_index.scss */
.footer .foot {
  padding: 0;
}
/* line 509, ../sass/_index.scss */
.footer .foot .row {
  padding: 0 9em;
}
/* line 511, ../sass/_index.scss */
.footer .foot .row img {
  width: 353px;
  height: 109px;
}
/* line 515, ../sass/_index.scss */
.footer .foot .row:first-child {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 2em;
  padding-bottom: 1em;
}
/* line 521, ../sass/_index.scss */
.footer .foot .row:last-child {
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 524, ../sass/_index.scss */
.footer .foot .row:last-child p {
  color: #666;
  margin-bottom: 0.2em;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}
/* line 529, ../sass/_index.scss */
.footer .foot .row:last-child p:first-child {
  font-size: 1.2em;
  margin-bottom: 1em;
}
/* line 532, ../sass/_index.scss */
.footer .foot .row:last-child p:first-child span {
  font-size: 1em;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 541, ../sass/_index.scss */
  .footer .foot .row {
    padding: 0 1em;
  }
}
@media screen and (max-width: 767px) {
  /* line 546, ../sass/_index.scss */
  .footer .row.row {
    padding: 1em;
  }
  /* line 548, ../sass/_index.scss */
  .footer .row.row p > a {
    color: #333;
  }
}

/*右側浮動按鈕*/
/* line 558, ../sass/_index.scss */
.right-button {
  position: fixed;
  z-index: 999999;
  top: 30vh !important;
  right: 1em;
  height: auto;
  cursor: pointer;
}
/* line 565, ../sass/_index.scss */
.right-button::before {
  border-color: transparent transparent #0e357f transparent;
  border-width: 16px;
  display: block;
}
/* line 571, ../sass/_index.scss */
.right-button a {
  color: #0e357f;
  font-size: 1.2em;
  text-align: center;
  line-height: 1em;
}
/* line 576, ../sass/_index.scss */
.right-button a::before {
  content: '';
  width: 100%;
  height: 2px;
  margin: 0.3em 0;
  background: #0e357f;
  display: block;
}

/*fadein隱藏*/
/* line 588, ../sass/_index.scss */
.product-link .col-sm-6,
.newslist,
.foot {
  opacity: 0;
}
@media screen and (max-width: 767px) {
  /* line 588, ../sass/_index.scss */
  .product-link .col-sm-6,
  .newslist,
  .foot {
    opacity: 1;
  }
}

/* line 4, ../sass/_page.sass */
.pagebanner {
  height: 50vh;
  padding: 0;
  overflow: hidden;
  position: relative;
  background-image: url("/ezfiles/381/1381/img/2853/banner-bg_01.jpg");
}
/* line 10, ../sass/_page.sass */
.pagebanner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlMzU3ZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(14, 53, 127, 0.3)), color-stop(100%, #ffffff));
  background: -moz-linear-gradient(top, rgba(14, 53, 127, 0.3), #ffffff);
  background: -webkit-linear-gradient(top, rgba(14, 53, 127, 0.3), #ffffff);
  background: linear-gradient(to bottom, rgba(14, 53, 127, 0.3), #ffffff);
  z-index: 3;
}
/* line 19, ../sass/_page.sass */
.pagebanner img {
  display: none;
  position: absolute;
  top: -20vh;
}
/* line 23, ../sass/_page.sass */
.pagebanner h1.title, .pagebanner h4 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  position: relative;
  z-index: 2;
  justify-content: center;
  margin-top: -0.5em;
  z-index: 4;
  color: #fff;
}
/* line 35, ../sass/_page.sass */
.pagebanner h4 {
  position: absolute;
  top: 0;
  margin-top: 1em;
  z-index: 4;
  color: #fff;
  text-transform: uppercase;
}

/* line 57, ../sass/_page.sass */
.module-detail .module-inner > .mb {
  padding-top: 0;
}
/* line 59, ../sass/_page.sass */
.module-detail .module-inner .mpgtitle {
  display: none;
}

/* line 62, ../sass/_page.sass */
.maddtocart {
  display: none;
}

/* line 65, ../sass/_page.sass */
.module-complex.module {
  display: none;
}

/* line 67, ../sass/_page.sass */
.module-path {
  padding-top: 3em;
}
/* line 69, ../sass/_page.sass */
.module-path .mb {
  padding: 0 5em;
}

/* line 71, ../sass/_page.sass */
.breadcrumb {
  margin-bottom: 0;
  background: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(14, 53, 127, 0.5);
}
/* line 76, ../sass/_page.sass */
.breadcrumb li:nth-of-type(2) {
  display: none;
}
/* line 78, ../sass/_page.sass */
.breadcrumb li a, .breadcrumb li.active, .breadcrumb li::before {
  color: #0e357f !important;
}
/* line 80, ../sass/_page.sass */
.breadcrumb li + li:before {
  content: "|";
}

/* line 82, ../sass/_page.sass */
.mpro-wrap {
  display: flex;
  align-items: center;
  padding: 2em 2em 0;
}
/* line 86, ../sass/_page.sass */
.mpro-wrap .col-sm-5 {
  padding: 0 4em;
}
/* line 88, ../sass/_page.sass */
.mpro-wrap .col-sm-7 {
  padding: 1em;
}
/* line 92, ../sass/_page.sass */
.mpro-wrap .col-sm-7 .mpgtitle {
  background: transparent;
  border-left: none;
}
/* line 95, ../sass/_page.sass */
.mpro-wrap .col-sm-7 .mpgtitle h3 {
  padding: 0;
  font-size: 2em;
  font-weight: normal;
}
/* line 99, ../sass/_page.sass */
.mpro-wrap .col-sm-7 h3.title {
  font-size: 1.5em;
  margin-top: 0;
}

/* line 103, ../sass/_page.sass */
.col.col_02 {
  padding-top: 0;
  background: #fff;
}

/* line 108, ../sass/_page.sass */
.module-ecptdetail .mb {
  padding-top: 0;
}

/* line 110, ../sass/_page.sass */
.product-list, .news-module {
  padding-top: 2em;
}
/* line 114, ../sass/_page.sass */
.product-list .module-cglist.module-meccglist h3, .product-list .module-rcglist h3, .news-module .module-cglist.module-meccglist h3, .news-module .module-rcglist h3 {
  padding-left: 0;
  color: #0e357f;
  font-size: 2em;
  border-bottom: 2px solid #292c8f;
  display: flex;
  align-items: center;
}
/* line 121, ../sass/_page.sass */
.product-list .module-cglist.module-meccglist h3::before, .product-list .module-rcglist h3::before, .news-module .module-cglist.module-meccglist h3::before, .news-module .module-rcglist h3::before {
  border-color: transparent transparent transparent #c2d6ee;
}
/* line 126, ../sass/_page.sass */
.product-list .module-ptlist .minner .mb, .news-module .module-ptlist .minner .mb {
  padding-top: 0;
}
/* line 128, ../sass/_page.sass */
.product-list .module-ptlist .row.listBS, .news-module .module-ptlist .row.listBS {
  margin: 2.5em 0;
}
/* line 130, ../sass/_page.sass */
.product-list .module-ptlist .row.listBS .d-item, .news-module .module-ptlist .row.listBS .d-item {
  padding: 0 3em;
}
/* line 132, ../sass/_page.sass */
.product-list .module-ptlist h5, .news-module .module-ptlist h5 {
  padding: 0;
  text-align: center;
  margin-top: 1em;
}
/* line 136, ../sass/_page.sass */
.product-list .module-ptlist h5 a, .news-module .module-ptlist h5 a {
  color: #0e357f;
  font-size: 1.2em;
  line-height: 1.5em;
}
/* line 140, ../sass/_page.sass */
.product-list .module-ptlist h3.title, .news-module .module-ptlist h3.title {
  font-size: 1.2em;
  color: #0e357f;
  margin-top: 0;
  text-align: center;
}
/* line 145, ../sass/_page.sass */
.product-list .module-ptlist .d-txt, .news-module .module-ptlist .d-txt {
  padding: 0 0em;
}
/* line 147, ../sass/_page.sass */
.product-list .module-ptlist ul, .news-module .module-ptlist ul {
  padding-left: 1.5em;
}
/* line 149, ../sass/_page.sass */
.product-list .module-ptlist ul li, .news-module .module-ptlist ul li {
  line-height: 1.5em;
  margin-bottom: 1em;
  color: #666;
}
/* line 154, ../sass/_page.sass */
.product-list .module-ptlist .d-img, .news-module .module-ptlist .d-img {
  width: 100%;
}
/* line 156, ../sass/_page.sass */
.product-list .module-ptlist .d-img img, .news-module .module-ptlist .d-img img {
  height: 15em;
  width: auto;
  display: block;
  margin: 0 auto;
}

/* line 163, ../sass/_page.sass */
.page-aboutus, .page-aboutproduct, .page-news, .page-contactus {
  padding-top: 5rem;
}
/* line 165, ../sass/_page.sass */
.page-aboutus .row, .page-aboutproduct .row, .page-news .row, .page-contactus .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
/* line 169, ../sass/_page.sass */
.page-aboutus h1.title, .page-aboutus .pagebanner h4, .pagebanner .page-aboutus h4, .page-aboutproduct h1.title, .page-aboutproduct .pagebanner h4, .pagebanner .page-aboutproduct h4, .page-news h1.title, .page-news .pagebanner h4, .pagebanner .page-news h4, .page-contactus h1.title, .page-contactus .pagebanner h4, .pagebanner .page-contactus h4 {
  color: #0e357f;
  font-weight: bold;
  font-size: 2.2em;
  width: 100%;
}
/* line 175, ../sass/_page.sass */
.page-aboutus h2.title, .page-aboutus h4, .page-aboutproduct h2.title, .page-aboutproduct h4, .page-news h2.title, .page-news h4, .page-contactus h2.title, .page-contactus h4 {
  font-weight: normal;
  font-size: 1.5em;
  color: #0e357f;
  margin-bottom: 1.5em;
  line-height: 1.5em;
  width: 100%;
}
/* line 182, ../sass/_page.sass */
.page-aboutus p, .page-aboutproduct p, .page-news p, .page-contactus p {
  font-size: 1.2em;
  line-height: 2em;
}
/* line 185, ../sass/_page.sass */
.page-aboutus strong, .page-aboutproduct strong, .page-news strong, .page-contactus strong {
  font-size: 1.1em;
  color: #0e357f;
}
/* line 191, ../sass/_page.sass */
.page-aboutproduct .container .product-line.row {
  flex-wrap: wrap;
  margin-top: 5em;
  padding: 0 5em;
}
/* line 195, ../sass/_page.sass */
.page-aboutproduct .container .product-line.row:nth-of-type(2) {
  padding: 0;
}
/* line 197, ../sass/_page.sass */
.page-aboutproduct .container .product-line.row .col-sm-6 {
  margin: 2em 0;
}
/* line 199, ../sass/_page.sass */
.page-aboutproduct .container .product-line.row h1.title, .page-aboutproduct .container .product-line.row .pagebanner h4, .pagebanner .page-aboutproduct .container .product-line.row h4 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 207, ../sass/_page.sass */
.page-aboutproduct .container .product-line.row h4.title {
  margin-bottom: 0.5em;
}
/* line 209, ../sass/_page.sass */
.page-aboutproduct .container .product-line.row img {
  height: auto;
  width: 100%;
}
/* line 213, ../sass/_page.sass */
.page-news h1.title, .page-news .pagebanner h4, .pagebanner .page-news h4, .page-contactus h1.title, .page-contactus .pagebanner h4, .pagebanner .page-contactus h4 {
  font-weight: normal;
  margin-bottom: 1em;
}
/* line 217, ../sass/_page.sass */
.page-contactus p, .page-contactus span, .page-contactus a {
  font-size: 2rem;
  color: #666;
}
/* line 222, ../sass/_page.sass */
.page-product .impt li {
  margin: 0;
  padding: 0 0.5em;
  position: relative;
  color: #292c8f;
  font-size: 1.2em;
}
/* line 228, ../sass/_page.sass */
.page-product .impt li::after {
  content: "|";
  display: inline-block;
  margin-left: 0.5em;
  margin-right: -0.5em;
  color: #292c8f;
  transform: rotate(30deg);
  font-size: 1.2em;
}
/* line 237, ../sass/_page.sass */
.page-product .impt li:last-child::after {
  display: none;
}
/* line 239, ../sass/_page.sass */
.page-product ul {
  list-style: none;
  padding-left: 0;
}
/* line 242, ../sass/_page.sass */
.page-product ul li {
  margin-bottom: 1em;
  background: #3d41c7;
  padding: 0.5em;
  color: #fff;
  display: inline-flex;
}
/* line 248, ../sass/_page.sass */
.page-product h5 {
  display: inline-block;
  padding: 0.5em 0.5em;
  position: relative;
  z-index: 1;
  border-top: 1px solid #fff inset;
  border-bottom: 1px solid #fff inset;
  -moz-box-shadow: #eee 1px 1px 1px 1px;
  -webkit-box-shadow: #eee 1px 1px 1px 1px;
  box-shadow: #eee 1px 1px 1px 1px;
  background: #c2d6ee;
  margin-top: 1.5em;
}
/* line 258, ../sass/_page.sass */
.page-product h5:nth-of-type(1) {
  margin-top: 0;
}
/* line 260, ../sass/_page.sass */
.page-product p {
  margin-bottom: 0;
}

/* line 264, ../sass/_page.sass */
.store .city li::after {
  content: "/";
  display: inline-block;
  margin-left: 1em;
}
/* line 268, ../sass/_page.sass */
.store .city li:last-child::after {
  display: none;
}
/* line 270, ../sass/_page.sass */
.store .city li {
  transition: 0.3s ease;
}
/* line 272, ../sass/_page.sass */
.store .city li:hover, .store .city li:active, .store .city li:focus {
  color: #0e357f;
  font-weight: bold;
}
/* line 276, ../sass/_page.sass */
.store .head td {
  border-top: 2px solid #0e357f;
}

/* line 280, ../sass/_page.sass */
.module-form .mt h3 {
  color: #0e357f;
  font-weight: normal;
  font-size: 2.2em;
  width: 100%;
  padding-left: 0;
  border-bottom: 1px solid #292c8f;
}
/* line 287, ../sass/_page.sass */
.module-form .formBS.formBS {
  border: none;
}
/* line 289, ../sass/_page.sass */
.module-form .form-group.form-group, .module-form .form-group.form-group.form-group.form-group label, .module-form .formBS .form-group [class*="col-sm-"] {
  border: none;
}
/* line 291, ../sass/_page.sass */
.module-form .col-sm-3 {
  text-align: right;
  margin-top: 0.4em;
}

/* line 294, ../sass/_page.sass */
.btn {
  border-color: #0e357f;
  color: #fff;
  background: #0e357f;
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
}
/* line 299, ../sass/_page.sass */
.btn:hover, .btn:active, .btn:focus {
  color: #0e357f;
  background: #c2d6ee;
}

/* line 302, ../sass/_page.sass */
.d-item .d-txt h5 a {
  transition: 0.3s ease;
  font-size: 1.2em;
}
/* line 305, ../sass/_page.sass */
.d-item .d-txt h5 a:hover {
  color: #1348ad;
  margin-left: 0.2em;
}

/* line 308, ../sass/_page.sass */
.mbtn, .form-control.form-select {
  cursor: pointer;
  border-color: #0e357f;
  color: #0e357f;
  transition: 0.3s ease;
}
/* line 313, ../sass/_page.sass */
.mbtn:hover, .form-control.form-select:hover {
  background: #0e357f;
  color: #fff;
}

/* line 317, ../sass/_page.sass */
.module-rcglist #pageptlist {
  padding-top: 2em;
}
/* line 319, ../sass/_page.sass */
.module-rcglist .d-img {
  width: 20%;
  max-width: 20%;
}
/* line 322, ../sass/_page.sass */
.module-rcglist .d-txt {
  width: 80%;
  max-width: 80%;
}
/* line 325, ../sass/_page.sass */
.module-rcglist .d-txt h5 a {
  display: block;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
/* line 329, ../sass/_page.sass */
.module-rcglist .d-txt i.mdate {
  display: block;
  float: left;
  color: #333;
  font-size: 1.2em;
}
/* line 334, ../sass/_page.sass */
.module-rcglist .row.listBS {
  border-bottom: 1px dashed #aaa;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
/* line 338, ../sass/_page.sass */
.module-rcglist .row.listBS:last-child {
  border-bottom: none;
}

/* line 341, ../sass/_page.sass */
.featherlight .featherlight-content {
  width: 80%;
  height: 80%;
}
/* line 344, ../sass/_page.sass */
.featherlight .featherlight-content iframe {
  width: 100%;
  height: 100%;
}

/* line 2, ../sass/_lang-en.sass */
.navbar.lang-en {
  margin-bottom: 1em;
}
/* line 8, ../sass/_lang-en.sass */
.navbar.lang-en .nav.navbar-nav > li > a > span:first-child {
  display: none;
}
/* line 10, ../sass/_lang-en.sass */
.navbar.lang-en .nav.navbar-nav > li > a > span:last-child {
  font-size: 14px;
  color: #333;
  text-align: center;
  font-weight: 300;
}

@media (max-width: 992px) {
  /* line 4, ../sass/_media.sass */
  .page-aboutus, .page-aboutproduct, .page-contactus {
    padding-top: 2rem;
  }
  /* line 6, ../sass/_media.sass */
  .page-aboutus .col-sm-6, .page-aboutproduct .col-sm-6, .page-contactus .col-sm-6 {
    width: 100%;
  }
  /* line 8, ../sass/_media.sass */
  .page-aboutus .col-sm-push-6, .page-aboutproduct .col-sm-push-6, .page-contactus .col-sm-push-6 {
    left: 0;
  }
  /* line 10, ../sass/_media.sass */
  .page-aboutus .col-sm-pull-6, .page-aboutproduct .col-sm-pull-6, .page-contactus .col-sm-pull-6 {
    right: 0;
    margin-top: 2em;
  }

  /* line 13, ../sass/_media.sass */
  .mpro-wrap {
    flex-wrap: wrap;
  }
  /* line 15, ../sass/_media.sass */
  .mpro-wrap .col-sm-5 {
    width: 100%;
    padding: 0;
    max-width: 100%;
  }
  /* line 19, ../sass/_media.sass */
  .mpro-wrap .col-sm-7 {
    padding: 0em;
    margin-top: 5em;
    width: 100%;
  }

  /* line 26, ../sass/_media.sass */
  .product-list .module-ptlist .row.listBS .d-item {
    padding: 0;
    width: 100%;
    margin: 3em 0;
    border-bottom: 1px solid #0e357f;
    padding-bottom: 2em;
  }
  /* line 32, ../sass/_media.sass */
  .product-list .module-ptlist .row.listBS .d-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  /* line 35, ../sass/_media.sass */
  .col.col_02 {
    padding-bottom: 2em;
  }
}
@media screen and (max-width: 767px) {
  /* line 38, ../sass/_media.sass */
  .module-path .mb {
    padding: 0 1em;
  }

  /* line 40, ../sass/_media.sass */
  .navbar .nav.navbar-nav {
    display: block;
    width: 100%;
  }

  /* line 43, ../sass/_media.sass */
  .pagebanner {
    height: 30vh;
  }
  /* line 45, ../sass/_media.sass */
  .pagebanner img {
    top: 0;
  }
  /* line 47, ../sass/_media.sass */
  .pagebanner h1.title, .pagebanner h4 {
    font-size: 2em;
  }
  /* line 49, ../sass/_media.sass */
  .pagebanner h4 {
    font-size: 1em;
  }

  /* line 53, ../sass/_media.sass */
  .page-aboutproduct h1.title, .page-aboutproduct .pagebanner h4, .pagebanner .page-aboutproduct h4 {
    font-size: 1.5em;
    font-weight: normal;
  }
  /* line 56, ../sass/_media.sass */
  .page-aboutproduct h4.title {
    font-size: 1.3em;
    font-weight: normal;
  }
  /* line 59, ../sass/_media.sass */
  .page-aboutproduct .product-line.row {
    padding: 0;
  }
  /* line 61, ../sass/_media.sass */
  .page-aboutproduct .product-line.row h1.title, .page-aboutproduct .product-line.row .pagebanner h4, .pagebanner .page-aboutproduct .product-line.row h4 {
    font-size: 1.5em;
  }
  /* line 63, ../sass/_media.sass */
  .page-aboutproduct .product-line.row h1.title::before, .page-aboutproduct .product-line.row .pagebanner h4::before, .pagebanner .page-aboutproduct .product-line.row h4::before, .page-aboutproduct .product-line.row h1.title::after, .page-aboutproduct .product-line.row .pagebanner h4::after, .pagebanner .page-aboutproduct .product-line.row h4::after {
    display: none;
  }
  /* line 65, ../sass/_media.sass */
  .page-aboutproduct .product-line.row .col-sm-6 {
    margin: 0;
  }
  /* line 67, ../sass/_media.sass */
  .page-aboutproduct .product-line.row .col-sm-6:nth-child(odd) {
    margin-bottom: 3em;
  }

  /* line 69, ../sass/_media.sass */
  .col.col_02 .container.product-list, .col.col_02 .container.news-module {
    padding: 0 1em;
  }

  /* line 71, ../sass/_media.sass */
  .module-form {
    padding: 0 1em;
  }
}

/*# sourceMappingURL=usercss.css.map */
