// 首頁
// 頭部
.navbar {
    padding: 1em 0 1em;
    // logo
    .navbar-brand.navbar-brand {
        padding: 0;
        display: block;
        width: auto;
        height: auto;
        margin-left: 0;
        img {
            height: 62px;
            width: auto;
        }
    }
    // 語言  
    .lang {
        position: absolute;
        top: 0;
        right: 0;
        a {
            font-size: 14px;
            color: $color-4;
            padding: 0 0.5em;
        }
        li {
            padding: 0.5em 0em 0;
        }
        li {
            a {
                border-right: 1.5px solid $color-4;
            }
            &:last-child{
                a{
                    border-right: 0;
                }
            }
        }
        @media #{$mobile} {
            position: static;
        }
    }
    // 選單
    .nav.navbar-nav {
        margin-top: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        >li {
            margin: 0 1em;
            >a {
                >span {
                    color: #333;
                    text-align: center;
                    display: block;
                    font-weight: 300;
                    font-size: 16px;
                    &:last-child {
                        display: block;
                        font-size: 10px;
                    }
                }
                &::before {
                    content: '';
                    display: block;
                    width: 0px;
                    height: 2px;
                    background: $color-1;
                    margin: 0 auto 0.5em;
                    transition: $transition-2;
                    @media #{$mobile} {
                        display: none;
                    }
                }
            }
            .social {
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                display: flex;
                a {
                    position: relative;
                    width: 40%;
                    height: 100%;
                    margin: 0 0.3em;
                    img {
                        display: block;
                        margin: 0 auto;
                        position: relative;
                        transition: $transition-2;
                        top: 0;
                        animation-duration: 1s;
                        animation-fill-mode: both;
                    }
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        background: url('/ezfiles/381/1381/img/2853/head-icon-shadow.png') center center no-repeat;
                        width: 100%;
                        height: 8px;
                    }
                    &:hover {
                        img {
                            animation-name: bomtt;
                            animation-duration: 1s;
                            transition: $transition-2;
                            animation-fill-mode: both;
                            top: -.5em;
                        }
                    }
                }
            }
            &:hover {
                a {
                    &::before {
                        content: '';
                        width: 40px;
                        height: 2px;
                        background: #color-2;
                        transition: $transition-2;
                    }
                }
            }
            ul{
              background: $color-2;
              box-shadow:3px 3px 5px -3px $color-1;
              border:none;
              li{
                a{
                  transition:$transition-1;
                  color:$color-1;
                  &:hover{
                    color:#fff;
                    background-color: transparent;
                  }
                }
              }
            }
        }
        @media #{$mobile} {
            display: block;
        }
    }
    .navbar-toggle {
        @media #{$mobile} {
            position: relative;
            float: right;
            z-index: 99999;
            border: none;
            &.collapsed {
                .sr-only {
                    &::before,
                    &::after {
                        background: $color-1;
                        transition: $transition-1;
                        transform: rotate(0deg);
                    }
                    &::before {
                        top: 10px;
                        transition: top 1s $transition-1;
                    }
                    &::after {
                        transition: transform $transition-1;
                    }
                    .icon-bar {
                        display: none;
                    }
                }
            }
            .sr-only {
                &::before,
                &::after {
                    background: $color-4;
                    transition: transform 1s $transition-1;
                }
                &::before {
                    transform: rotate(45deg);
                    top: 20px;
                    transition: top $transition-1, transform 1s $transition-1;
                }
                &::after {
                    transform: rotate(-45deg);
                    transition: transform 1s $transition-1;
                }
                .icon-bar {
                    display: none;
                }
            }
        }
    }
    @media #{$pad-pc} {
        .container {
            padding: 0;
            width: 100%;
        }
        .nav.navbar-nav {
            >li {
                margin: 0;
                font-size: 0.8em;
                margin: 0 0.1em;
                a {
                    padding: 0;
                }
                ul>li {
                    margin: 0.5em 0;
                    padding: 0 0.5em;
                }
            }
        }
    }
    @media #{$mini-pc} {
        .nav.navbar-nav {
            >li {
                margin: 0;
                font-size: 0.8em;
                margin: 0 1em;
                a {
                    padding: 0;
                }
                ul>li {
                    margin: 0.5em 0;
                    padding: 0 0.5em;
                }
            }
        }
    }
    @media #{$mobile} {
        padding: 0;
        .lang {
            ul {
                margin-left: 0;
                display: flex;
                flex: 2;
            }
            li {
                padding: 0;
                width: 50%;
                a {
                    padding: 0;
                    text-align: center;
                    background: $color-1;
                    display: block;
                    color: #fff;
                }
            }
        }
        .container {
            padding: 1em;
            margin-top: -1em;
        }
        .nav.navbar-nav {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            li {
                width: 100%;
                margin: 1em 0;
                a {
                    padding: 0;
                    text-align: center;
                }
            }
            .open {
                color: $color-1;
                span {
                    color: $color-1;
                }
                a {
                    color: $color-1;
                }
            }
        }
    }
}


/*輪播圖*/

.mads-li {
    position: relative;
    &::before {
        content: '';
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: url('/ezfiles/381/1381/img/2853/banner-logo.png')center center no-repeat;
        position: absolute;
        top: 0;
        z-index: 9;
        @media #{$mobile} {
            background-size: 200%;
        }
    }
}

.owl-controls {
    position: absolute;
    width: 100%;
    bottom: -2.5em;
}

.owl-dot.owl-dot.owl-dot {
    margin: 0 0.2em;
    span {
        background: #fff;
        opacity: 1;
        transition: $transition-2;
    }
    &.active {
        span {
            background: $color-1;
            transition: $transition-2;
        }
    }
}

// 中間section
.product-list-news {
    margin-top: -1em;
    background: url('/ezfiles/381/1381/img/2853/section-bg.png') center center no-repeat;
    background-size: cover;
    padding-top: 8em;
    padding-bottom: 6em;
    .product-link {
        .col-sm-6 {
            padding: 0 1em;
            a {
                display: block;
                border: 1px solid #ccc;
                .text {
                    display: block;
                    width: 100%;
                    height: auto;
                    position: relative;
                    overflow:hidden;
                    img {
                        width: 100%;
                        height: auto;
                        transition:6s ease;
                    }
                    span {
                        display: flex;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        justify-content: center;
                        align-items: center;
                        font-size: 2em;
                        font-weight: 300;
                        color: $color-1;
                        transition: $transition-2;
                        transform: scale(0);
                        @media #{$mobile} {
                            transform:scale(1);
                        }
                    }
                    .triangle {
                        position: absolute;
                        bottom: 0;
                        display: block;
                        width: 100%;
                        height: 30px;
                        margin: 0 auto;
                        &::after {
                            @extend .triangle-right;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0 auto;
                            width: 20px;
                            height: 15px;
                            border-width: 0 10px 30px 10px;
                            border-color: transparent transparent #eeefef transparent;
                            @media #{$mobile} {
                                display:none;
                            }
                        }
                    }
                    &::before {
                        content: '';
                        display: flex;
                        width: 100%;
                        height: 0%;
                        position: absolute;
                        top: 0;
                        background: rgba(255, 255, 255, .3);
                        transition: .6s $transition-1;
                        z-index: 1;
                        @media #{$mobile} {
                            height: 100%;
                        }                        
                    }
                }
                &:hover {
                    .text {
                        span {
                            transform: scale(1);
                            transition: .6s $transition-1;
                        }
                        &::before {
                            height: 100%;
                            transition: $transition-2;
                        }
                    }
                    img{
                        transform:scale(1.1);
                        transition:6s ease;
                    }
                }
            }
            p {
                padding: 1em 0;
                font-size: 1em;
                font-weight: normal;
                position: relative;
            }
            &:last-child {
                .triangle.triangle {
                    &::after {
                        border-color: transparent transparent #e9e9e9 transparent
                    }
                }
            }
        }
    }
    /*最新消息*/
    .newslist {
        padding: 0 1em;
        margin-top: 3em;
        h1.title {
            color: $color-1;
            span {
                color: $color-4;
            }
        }
        .module {
            border: 1px solid #ccc;
            padding: 2em 4em;
            background: #fff;
            .mdate {
                font-size: 1.1em;
                letter-spacing: 0.1em;
                color: #81b4af;
                display: block;
            }
            a {
                color: $color-1;
                font-size: 1.2em;
                margin: 0.5em 0 0;
                display: flex;
                align-items: center;
                &::before {
                    content: '';
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: #333;
                    margin-right: 0.5em;
                }
            }
            .mdetail {
                color: #555;
                padding-left: 1em;
            }
            .d-txt {
                margin: 1em 0;
            }
        }
    }
    @media #{$mobile} {
        padding-top: 4em;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 4em;
        .container {
            padding: 0;
        }
        .col-sm-6 {
            margin: 1em 0;
            .text.text.text span {
                font-size: 1.5em;
            }
        }
        .newslist {
            margin-top: 0;
            .module {
                padding: 1em;
                a {
                    line-height: 1.5em;
                }
            }
        }
    }
}


/*footer*/

.footer {
    background: #fff;
    .foot {
        padding: 0;
        .row {
            padding: 0 9em;
            img{
                width: 353px;
                height: 109px;
            }
            &:first-child {
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                padding-top: 2em;
                padding-bottom: 1em;
            }
            &:last-child {
                padding-top: 1em;
                padding-bottom: 1em;
                p {
                    color: $color-4;
                    margin-bottom: 0.2em;
                    font-size: 0.8em;
                    letter-spacing: 0.1em;
                    &:first-child {
                        font-size: 1.2em;
                        margin-bottom: 1em;
                        span {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
    @media #{$pad-pc} {
        .foot .row {
            padding: 0 1em;
        }
    }
    @media #{$mobile} {
        .row.row {
            padding: 1em;
            p >a{
                color:#333;
            }
        }        
    }
}


/*右側浮動按鈕*/

.right-button {
    position: fixed;
    z-index: 999999;
    top: 30vh!important;
    right: 1em;
    height: auto;
    cursor: pointer;
    &::before {
        @extend .triangle-right;
        border-color: transparent transparent $color-1 transparent;
        border-width: 16px;
        display: block;
    }
    a {
        color: $color-1;
        font-size: 1.2em;
        text-align: center;
        line-height: 1em;
        &::before {
            content: '';
            width: 100%;
            height: 2px;
            margin: 0.3em 0;
            background: $color-1;
            display: block;
        }
    }
}

/*fadein隱藏*/
.product-link .col-sm-6,
.newslist,
.foot{
  opacity: 0;
  @media #{$mobile} {
      opacity: 1;
  }
}