//English
.navbar.lang-en
    margin-bottom: 1em
    .nav.navbar-nav
        >li 
            >a
                >span
                    &:first-child
                        display: none
                    &:last-child
                        font-size: 14px
                        color: #333
                        text-align: center
                        font-weight: 300