// RWD
@media (max-width: 992px) 
    .page-
        &aboutus,&aboutproduct,&contactus
            padding-top: 2rem
            .col-sm-6
                width: 100%
            .col-sm-push-6
                left: 0
            .col-sm-pull-6
                right: 0
                margin-top: 2em
    .mpro-wrap
        flex-wrap: wrap
        .col-sm-5
            width: 100%
            padding: 0
            max-width: 100%
        .col-sm-7
            padding: 0em
            margin-top: 5em
            width: 100%
    .product-list
        .module-ptlist
            .row.listBS
                .d-item
                    padding: 0
                    width: 100%
                    margin: 3em 0
                    border-bottom: 1px solid $color-1
                    padding-bottom: 2em
                    &:last-child
                        border-bottom: none
                        margin-bottom: 0
    .col.col_02
        padding-bottom: 2em
@media #{$mobile} 
    .module-path .mb
        padding: 0 1em
    .navbar .nav.navbar-nav
        display: block
        width: 100%
    .pagebanner
        height: 30vh
        img
            top: 0
        h1.title
            font-size: 2em
        h4
            font-size: 1em
    .page-
        &aboutproduct
            h1.title
                font-size: 1.5em
                font-weight: normal
            h4.title
                font-size: 1.3em
                font-weight: normal
            .product-line.row
                padding: 0
                h1.title
                    font-size: 1.5em
                    &::before,&::after
                        display: none
                .col-sm-6
                    margin: 0
                .col-sm-6:nth-child(odd)
                    margin-bottom: 3em
    .col.col_02 .container.product-list,.col.col_02 .container.news-module
        padding: 0 1em
    .module-form
        padding: 0 1em