// 內頁

// 標題banner
.pagebanner
    height: 50vh
    padding: 0
    overflow: hidden
    position: relative
    background-image: url("/ezfiles/381/1381/img/2853/banner-bg_01.jpg")
    &::before
        content: ''
        display: block
        width: 100%
        height: 100%
        position: absolute
        top: 0
        @include background(linear-gradient(to bottom, rgba($color-1,.3), rgba(255,255,255,1)))
        z-index: 3
    img
        display: none
        position: absolute
        top: -20vh
    h1.title
        display: flex
        flex-wrap: wrap
        width: 100%
        height: 100%
        align-items: center
        position: relative
        z-index: 2
        justify-content: center
        margin-top: -.5em
        z-index: 4
        color: #fff
    h4
        @extend h1.title
        position: absolute
        top: 0
        margin-top: 1em
        z-index: 4
        color: #fff
        text-transform: uppercase
    // &::after
    //     background: rgba($color-1,.3)
    //     display: block
    //     width: 100%
    //     height: 100%
    //     position: absolute
    //     z-index: 0
    //     top: 0
        

// 內頁
// 系統預設標題移除
.module-detail
    .module-inner
        >.mb
            padding-top: 0
        .mpgtitle 
            display: none
// 加入購物車按鈕移除
.maddtocart
    display: none
// 商品詳情
.module-complex.module
    display: none
.module-path
    padding-top: 3em
    .mb
        padding: 0 5em
.breadcrumb
    margin-bottom: 0
    background: none
    border-radius: 0
    border-bottom: 1px solid rgba($color-1,.5)
    li:nth-of-type(2)
        display: none
    li a ,li.active,li::before
        color: $color-1!important
    li+li:before
        content: '|'
.mpro-wrap
    display: flex
    align-items: center
    padding: 2em 2em 0
    .col-sm-5
        padding: 0 4em
    .col-sm-7
        // background: rgba($color-2,.5)
        padding: 1em
        // box-shadow: 6px 6px 3px -6px #000
        .mpgtitle 
            background: $color-n
            border-left: none
            h3
                padding: 0
                font-size: 2em
                font-weight: normal
        h3.title
            font-size: 1.5em
            margin-top: 0
// 產品列表
.col.col_02
    @extend .product-list-news
    padding-top: 0
    background: #fff
.module-ecptdetail
    .mb
        padding-top: 0
.product-list,.news-module
    padding-top: 2em
    // 標題
    .module-cglist.module-meccglist,.module-rcglist
        h3
            padding-left: 0
            color: $color-1
            font-size: 2em
            border-bottom: 2px solid $color-3
            display: flex
            align-items: center
            &::before
                @extend .triangle-right
                border-color: $color-n $color-n $color-n $color-2
    // 分類列表
    .module-ptlist
        .minner .mb
            padding-top: 0
        .row.listBS
            margin: 2.5em 0
            .d-item
                padding: 0 3em
        h5 
            padding: 0
            text-align: center
            margin-top: 1em 
            a
                color: $color-1
                font-size: 1.2em
                line-height: 1.5em
        h3.title
            font-size: 1.2em
            color: $color-1
            margin-top: 0
            text-align: center
        .d-txt
            padding: 0 0em
        ul
            padding-left: 1.5em
            li
                line-height: 1.5em
                margin-bottom: 1em
                color: $color-4

        .d-img
            width: 100%
            img
                height: 15em
                width: auto
                display: block
                margin: 0 auto

.page-
    &aboutus,&aboutproduct,&news,&contactus
        padding-top: 5rem
        .row
            display: flex
            align-items: center
            flex-wrap: wrap
        h1.title
            color: $color-1
            font-weight: bold
            font-size: 2.2em
            width: 100%

        h2.title,h4
            font-weight: normal
            font-size: 1.5em
            color: $color-1
            margin-bottom: 1.5em
            line-height: 1.5em
            width: 100%
        p
            font-size: 1.2em
            line-height: 2em
        strong
            font-size: 1.1em
            color: $color-1
    // calciumT個別設定
    &aboutproduct
        .container
            .product-line.row
                flex-wrap: wrap
                margin-top: 5em 
                padding: 0 5em
                &:nth-of-type(2)
                    padding: 0
                .col-sm-6
                    margin: 2em 0
                h1.title
                    width: 100%
                    text-align: center
                    font-weight: bold
                    margin-bottom: 2em
                    display: flex
                    align-items: center
                    justify-content: center
                h4.title
                    margin-bottom: .5em
                img
                    height: auto
                    width: 100%
    &news,&contactus
        h1.title
            font-weight: normal
            margin-bottom: 1em
    &contactus
        p,span,a
            font-size: 2rem
            color: $color-4
    &product
        .impt
            li
                margin: 0
                padding: 0 .5em
                position: relative
                color: $color-3
                font-size: 1.2em
                &::after
                    content: '|'
                    display: inline-block
                    margin-left: .5em
                    margin-right: -.5em
                    color: $color-3
                    transform: rotate(30deg)
                    font-size: 1.2em
                &:last-child
                    &::after
                        display: none
        ul
            list-style: none
            padding-left: 0
            li
                margin-bottom: 1em
                background: lighten($color-3, 15%)
                padding: .5em
                color: #fff
                display: inline-flex
        h5
            display: inline-block
            padding: .5em .5em
            position: relative
            z-index: 1
            border-top: 1px solid #fff inset
            border-bottom: 1px solid #fff inset
            +box-shadow(#eee 1px 1px 1px 1px)
            background: $color-2
            margin-top: 1.5em
            &:nth-of-type(1)
                margin-top: 0
        p
            margin-bottom: 0
.store
    .city
        li::after
            content: '/'
            display: inline-block       
            margin-left: 1em     
        li:last-child::after
            display: none
        li
            transition: $transition-1
            &:hover,&:active,&:focus
                color: $color-1
                font-weight: bold
    .head
        td
            border-top: 2px solid $color-1
.module-form
    .mt 
        h3
            color: $color-1
            font-weight: normal
            font-size: 2.2em
            width: 100%
            padding-left: 0
            border-bottom: 1px solid $color-3
    .formBS.formBS
        border: none
    .form-group.form-group,.form-group.form-group.form-group.form-group label,.formBS .form-group [class*="col-sm-"]
        border: none
    .col-sm-3
        text-align: right
        margin-top: .4em
.btn
    border-color: $color-1
    color: #fff
    background: $color-1
    transition: $transition-2
    &:hover,&:active,&:focus
        color: $color-1
        background: $color-2
.d-item .d-txt h5 a
    transition: $transition-1
    font-size: 1.2em
    &:hover
        color: lighten($color-1, 10%)
        margin-left: .2em
.mbtn,.form-control.form-select
    cursor: pointer
    border-color: $color-1
    color: $color-1
    transition: $transition-1
    &:hover
        background: $color-1
        color: #fff
.module-rcglist
    #pageptlist
        padding-top: 2em
    .d-img
        width: 20%
        max-width: 20%
    .d-txt
        width: 80%
        max-width: 80%
        h5 a
            display: block
            font-size: 1.5em
            margin-bottom: .5em
        i.mdate
            display: block
            float: left
            color: #333
            font-size: 1.2em
    .row.listBS
        border-bottom: 1px dashed #aaa
        padding-bottom: 1em
        margin-bottom: 1em
        &:last-child
            border-bottom: none
// featerlight
.featherlight .featherlight-content
    width: 80%
    height: 80%
    iframe
        width: 100%
        height: 100%