<div class="page-product">
          <!-- 英文標題 -->
          <h3 class="title">DERMESIS® Baby Bath</h3>
          <br>
          <ul class="list-inline impt">
            <li>複方天然植物</li>
            <li>多重保濕因子</li>
            <li>保護肌膚</li>
          </ul>
          <!-- 列表 -->
          <ul>
            <li>結合複方天然植物精華、多重保濕因子</li>
            <li>幫助寶寶清潔、舒緩、保護肌膚</li>
            <li>洗髮、沐浴雙效合一</li>
          </ul>
          <!-- 主成份 -->
          <h5>主成分</h5>
           <p>Calcium T®、維生素原B5、洋甘菊萃取、蘆薈、薰衣草精油等植物高效萃取精華</p>
          <h5>適用對象</h5>
             <p>敏弱、乾燥、缺水、屏障功能不佳‧‧‧等膚況的嬰幼童。</p> 
          <p>
            <h5>使用方式</h5>
           <p> 以溫水濕潤寶寶的頭髮與身體，取適量沐浴露置於手掌中，輕柔地按摩搓洗，再以清水洗淨即可。
          </p>
<h5>容量</h5>
       <p>500ml</p>
         
           <h5> 注意事項</h5>
      
             <p>避開眼周及唇部，避免陽光直射，宜存放乾燥陰涼處，須置於幼童接觸不到之處。
          </p>
      </div>